#finish-screen {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background: linear-gradient(90deg, #416EFE 71px, #ffffff 0px);
}

#total-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 316px;
    height: 117px;
    background: #F6FAFD;
    border-radius: 8px;
    margin: 115px 0 57px 0;
}

#total-txt {
    display: flex;
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #A9B1D1;
}

#total-price {
    font-family: Poppins;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #161D39;
}

#pay-btn-box {
    display: flex;
    cursor: pointer;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 175px;
    height: 58px;
    background: #31BF61;
    border-radius: 8px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    color: #FFFFFF;
}

#thank-you-screen {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background: linear-gradient(#ffffff 0px);
    align-items: center;
}

#thankyou-text {
    display: flex;
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    line-height: 22px;
    color: #161D39;
    height: 100%;
    z-index: 1;
    align-items: center;
}
#load-gif {
    position: absolute;
    height: 600px;
    width: 700px;
    z-index: 0;
    filter: saturate(90%);
}


