#finish-screen {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background: linear-gradient(90deg, #416EFE 71px, #ffffff 0px);
}

#go-back-btn1 {
  width: 16px;
  height: 16px;
  margin-top: 30px;
  margin-left: 28px;
}

#total-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 316px;
    height: 117px;
    background: #F6FAFD;
    border-radius: 8px;
    margin: 174px 0 57px 0;
}

#total-txt {
    display: flex;
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #A9B1D1;
}

#total-price {
    font-family: Poppins;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #161D39;
}

#pay-btn-box {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 175px;
    height: 58px;
    left: 330px;
    top: 348px;
    background: #31BF61;
    border-radius: 8px;
}

#pay-btn {
    display: flex;
    font-family: Poppins;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}