#root, html, body{
  width: 100%;
  height: 100%;
  background-color: rgb(216, 227, 233);
  cursor: url('./media/hand.png'), auto;
}

.App {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: url('./media/hand.png'), auto;

}
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1100px;
  height: 670px;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(35, 35, 35), rgb(0, 0, 0), rgb(40, 40, 40));
  border-radius: 30px;
  border: rgb(27, 27, 27) 10px solid;
}

#interactive-screen {
  display: flex;
  background-color: white;
  margin-bottom: -20px;
  width: 1000px;
  height: 600px;
}

#welcome-screen {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(80, 147, 119);
}

#title1 {
  font-family: 'Lemonada', cursive;
  transform: scaleY(1.2);
  font-size: 60px;
  line-height: 90px;
}

#title2 {
  font-family: 'Lemonada', cursive;
  font-weight: 800;
  font: 30px;
  animation: fade 2s infinite;
}

@keyframes fade {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
